[Desktop Entry]
# This line below only exists for sed to replace in our makefile so that it will actually point to the right directory on the user's machine
EXEC
Icon=media-playback-start
Terminal=true
Name=MPV Redirector
GenericName=Web Browser
Comment=A script to redirect video urls to mpv.
Type=Application
Categories=AudioVideo;Utility;Network;WebBrowser;X-Internet-Browser;
StartupNotify=true
X-Desktop-File-Install-Version=0.0.01
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;x-scheme-handler/https;text/html;
Keywords=web;browser;internet;
