[Desktop Entry]
Exec=mpv-redirector.sh %u
Icon=asy
Terminal=true
Name=MPV Redirector
GenericName=Web Browser
Comment=A script to redirect video urls to mpv.
Type=Application
Categories=AudioVideo;Utility;Network;WebBrowser;X-Internet-Browser;
StartupNotify=true
X-Desktop-File-Install-Version=0.0.01
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;x-scheme-handler/https;text/html;
Keywords=web;browser;internet;
